body{
    font: 20px arial, sans-serif;
}

.navbar{
    background-color:#9FF781;
}

.quem-somos{
    background-color:#5882FA;
    color: white;
}

.margin{
   
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #AC58FA;
}
.bg-footer{
    background-color: black;
    color: white;
}